<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <style>
        body {
            background: linear-gradient(to right, #2C4E72, #541b21)
        }

        header {
            background-color: #6d544e;
            color: #fff;
            padding: 20px;
            font-family: 'Helvetica', sans-serif;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        nav li {
            margin: 0 10px;
        }

        nav a {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }

        main {
            background: #fff;
            max-width: 500px;
            margin-top: 21px;
            margin-left: 500px;
            text-align: center;
            border: solid 5px;
            border-color: #000;
            color: #000;
        }

        h1 {
            font-family: 'Pacifico', cursive;
            font-size: 48px;
            color: #6d544e;
            margin-bottom: 30px;
        }

        form {
            background: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border: solid 5px;
            border-color: black;
            color: #000;
        }

        tbody {
            color: #000;
            background: white;
        }

        .p1 {
            color: white;
            position: absolute;
            bottom: 1%;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_tasks' %}">My tasks</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            <a href="{% url 'create_project' %}">Create a new project</a>
            {% if projects %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                        </td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
</body>
<p class="p1">© Copyright 2023, My Project Management app</p>

</html>